<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.net>
  <mailSettings>

    <smtp deliveryMethod="Network" from="xxx@xxx.com">
      <network host="xxx" port="25" defaultCredentials="false" userName="xxx" password="xxx"/>
    </smtp>
  </mailSettings>
  </system.net>
</configuration>